<!DOCTYPE html>
<html ng-app>
<head>
    <title>practice MVC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="todoController.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>
     <div ng-controller="todoc">
         <h1>Todo example</h1>
         <span>{{remaining()}} of {{todos.length}} remaining</span>
            <a href=""nd-click="archive()">archive</a>
         <ul class="unstyled">
             <li ng-repeat="todo in todos">
                 <input type="checkbox" ng-model="todo.done">
                 <span class="done-{{todo.done}}">{{todo.text}}</span>
             </li>
         </ul>
         <form ng-submit="addTodo()">
             <input type="text" ng-model="todoText" size="50" placeholder="add new todo here">
             <input class="btn-primary" type="submit" value="add">
         </form>
     </div>

</body>
</html>