<!doctype HTML>
<html>
     <head>
         <title>
             angular tutorial example
         </title>
         <script src="angular.min.js"></script>
         <script src="main.js"></script>
     </head>
     <body>
           <div ng-app="myApp">

               <div ng-controller="firstCntrl">
                   <input type="text" ng-model="data.message">
                   <h1>{{data.message}}</h1>
               </div>

               <div ng-controller="SecondCntrl">
                   <input type="text" ng-model="data.message">
                   <h1>{{data.message|reverse}}</h1>
               </div>

           </div>
     </body>
</html>