<!DOCTYPE html>
<html>
<head>
    <title>angular tutorial 2</title>
    <script src="angular.min.js"></script>
    <script src="main2.js"></script>
</head>
<body>
      <div ng-app="myApp">
          <div ng-controller="DhoomCtrl">
              <table>
                  <tr ng-repeats="actor in Dhoom.cast">
                      <td>
                         {{actor.name}}
                      </td>
                      <td>
                          {{actor.character}}
                      </td>
                  </tr>
              </table>

          </div>
      </div>
</body>
</html>